.background{
  background-image:url("../images/mapOfWorld.jpg");
  height: 100%; 
  background-position:  center;
  background-repeat: no-repeat;
  background-size: cover;
}
body, html {
    height:100% ;
    margin: 0;

}

.container{
   color: rgba(239, 17, 17, 0.877);
   padding-top: 100px;
   font-family: 'Indie Flower', cursive;
   font-size: 24px;
   font-weight: 900;
}

h3{
    color:rgba(239, 17, 17, 0.877);
    padding-left: 20px;
    padding-bottom: 46px;
    font-size: 40px;
    font-weight: 900;
    
}

.btn-default {
    color: white;
    background-color:rgba(239, 17, 17, 0.877);
    border-color:black;
}

.form-control{
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    

}